/* Sidebar */

.Sidebar_title {
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

.Sidebar_nav {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.Sidebar_nav li {
    border-bottom: 1px solid #020101;
    padding: 10px;
}

.Sidebar_nav li:first-child {
    border-top: 1px solid #080606;
}

.Sidebar {
    width: 15%;
    height: 100vh;
    position: fixed;
    background: #c9c5c5;
}

.mathButton {
    width: 100%;
    height: 60px;
}

.englishButton {
    width: 100%;
    height: 60px;
}

.scienceButton {
    width: 100%;
    height: 60px;
}

.artButton {
    width: 100%;
    height: 60px;
}